fastapi
uvicorn[standard]
sqlalchemy
asyncpg
alembic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
paho-mqtt
python-multipart
redis
python-dotenv
psycopg2-binary
fastapi-mail
email-validator
scikit-learn
joblib
numpy
tensorflow-cpu
tf-keras
